input
{
    background-color:#EDC9AF;
    font-weight:bolder;
    font-size: medium;
    height:40px;
    box-sizing:border-box;

}

td
{
    text-align: center;
    font-family: Verdana;
    
}
th
{
    height: 60px;
    border-radius:12px;
}

input.button {
  width: 40px;
  border: none;
  padding: 5px;
  border-radius:12px;
  box-shadow: 0px 4px #9400D3, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

#c {
  background: red;
}
table 
{
  border-radius:10px;
  width: 300px;
  height: auto;
  
  margin: 100px auto;
  padding: 20px 20px 9px;

}
.plus {
  height: 100px;
  width: 40px;
  border: none;
  padding: 5px;
  border-radius:12px;
}
.equal {
  width: 100px;
  border: none;
  padding: 5px;
  border-radius:12px;

}